.footer {
    background-color: white;
    color: black;
  }
  
.footer-top {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-bottom: 1rem;
}

.trademark {
margin-bottom: 1rem;
}

.social-icons {
margin-bottom: 1rem;
}

.social-icons a {
margin: 0 0.5rem;
}

.newsletter form {
display: flex;
align-items: center;
}

.newsletter input {
padding: 0.5rem;
border-radius: 0.25rem 0 0 0.25rem;
background-color: #4a5568; /* Tailwind bg-gray-700 */
color: #ffffff; /* Tailwind text-white */
}

.newsletter button {
padding: 0.5rem;
background-color: #6b46c1; /* Tailwind bg-purple-700 */
color: #ffffff; /* Tailwind text-white */
border-radius: 0 0.25rem 0.25rem 0;
}

.newsletter button:hover {
background-color: #553c9a; /* Tailwind bg-purple-800 */
}
  