.footer {
    background-color: #FCF5EE;
    color: #1f2937;
  }
  
.footer-top {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin-bottom: 1rem;
}

.trademark {
margin-bottom: 1rem;
}

.social-icons {
margin-bottom: 1rem;
}

.social-icons a {
margin: 0 0.5rem;
}
