.custom-collapse .ant-collapse-content {
    background: linear-gradient(to bottom, rgba(165, 186, 161, 0.4), rgba(248, 219, 188, 0.6));
}
  
.loomEmbed {
    transition: none !important;
    transform: none !important;
    border-radius: 10px;
}