.projectCardContainer {
  perspective: 1000px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.projectCard {
  position: relative;
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.projectCardContainer.flipped .projectCard {
  transform: rotateY(180deg);
}

.projectCardFront,
.projectCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.projectCardFront {
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.projectCardBack {
  transform: rotateY(180deg);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(184, 164, 197, 0.8), rgba(179, 160, 191, 0.2));
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  color: white;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(118, 84, 139, 0.2);
  color: white;
  z-index: 1;
}

.tools,
.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background: #4b1c7d;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
}
