@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  scroll-behavior: smooth;
}

.relative .backface-hidden {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.6s;
  }
  
.relative:hover .backface-hidden {
transform: rotateY(0deg);
}

.relative .w-full:hover {
transform: rotateY(180deg);
}

.custom-popover .ant-popover-inner {
  border: 2px solid rgb(254 240 138);
}

.custom-popover .ant-popover-arrow {
  border-top-color: rgb(254 240 138) !important;
}

.loomEmbed {
  transition: none !important;
  transform: none !important;
}

.paragraphHighlight {
  font-weight: bold;
}
  
@layer base {
    body {
      background-color: #FCF5EE;
    }
}
