@tailwind base;
@tailwind components;
@tailwind utilities;

.relative .backface-hidden {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.6s;
  }
  
.relative:hover .backface-hidden {
transform: rotateY(0deg);
}

.relative .w-full:hover {
transform: rotateY(180deg);
}
  
@layer base {
    body {
      background-color: #ffff;
    }
}